@import "../../../styles/mixins";
.flex-input {
    margin-bottom: 0;
    @include flex-row-between-center;
    gap: 16px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;

    &:focus-within {
        box-shadow: 0px 0px 1px 4px var(--colorBrand);
        background-color: #e0cdc881;
    }

    .label-error {
        @include flex-column-start-start;
        gap: 4px;
    }

    input {
        width: 300px;
        max-width: 100%;
        padding: 8px;
        border-radius: 8px;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

span.small-screen {
    display: none;
}


@media screen and (max-width: 500px) {
        .flex-input {
            @include flex-column-start-start;
            gap: 8px;
            margin-bottom: 0;

            span.large-screen {
                display: none;
            }

            span.small-screen {
                display: block;
            }

            input {
                width: 100%;
            }
        }
}