@import '../../styles/mixins';

main {
    @include flex-column-center-center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fae7e181;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    padding: 24px;
}