@import '../../styles/mixins';

.main-booking-gestion {
    @include flex-column-start-center;

    .travellingChoices {
        position: sticky;
        top: 4px;
        z-index: 2;
    }

    .showAppartments {
        margin-top: 32px;

        p {
            font-size: var(--ppFontSize);
            color: var(--colorInfoText);
            text-align: center;
        }
    }


    .section-show-appartments-cards {
        @include flex-row-around-start-wrap;
        margin-top: 64px;
        max-width: 1600px;
        gap: 96px;
    }
}

@media screen and (max-width:800px) {
    .main-booking-gestion {
        .section-show-appartments-cards{
            gap: 24px;
            margin-top: 24px;
        }
    }
}