<main>
    <h1>{{reservationRequests().length}} demandes de réservation</h1>

    <section class="request-filter-section">
        <h2>Filtrer par :</h2>

        <div class="request-filter-buttons">
            <button type="button" (click)="setFilterToAll()">Toutes</button>
            <button type="button" (click)="setFilterToNew()">Nouvelles</button>
            <button type="button" (click)="setFilterToWaitingForDeposit()">En attente d'ahrres</button>
            <button type="button" (click)="setFilterToWaitingForValidation()">En attente de validation</button>
        </div>
    </section>

    <div class="request-choice">
        <mat-form-field>
            <mat-label>Choisissez une réservation</mat-label>
            <mat-select (selectionChange)="handleChangeReservation(selectedReservation)">
              <mat-option #selectedReservation *ngFor="let reservation of filteredReservationRequests()" [value]="reservation.id">
               {{findAppartmentNameById(reservation.appartmentId!)}}  -  Du {{reservation.checkinDate | date:'dd/MM/yyyy' }} au {{reservation.checkoutDate | date:'dd/MM/yyyy'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

</main>
