<main>
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <h1>Réinitialisation du mot de passe</h1>
        <div>
            <label>Mot de passe : </label>
            <input type="text" placeholder="Votre mot de passe" #inputPassword="ngModel" [(ngModel)]="password" name="inputPassword" required (keypress.enter)="loginForm.valid && onSubmit()">
        </div>

        <ng-container *ngIf="inputPassword.errors && loginForm.submitted">
            <span *ngIf="inputPassword.errors?.['required']">Champ obligatoire</span>
        </ng-container>

        <div>
            <label>Confirmation : </label>
            <input type="password" placeholder="Confirmation du mot de passe" #inputConfirmation="ngModel" [(ngModel)]="confirmationPassword" name="inputConfirmation" required (keypress.enter)="loginForm.valid && onSubmit()">
        </div>

        <ng-container *ngIf="inputConfirmation.errors && loginForm.submitted">
            <span *ngIf="inputConfirmation.errors?.['required']">Champ obligatoire</span>
        </ng-container>


        <div class="div-button">
            <button type="submit">Envoyer</button>
        </div>

    </form>
</main>