<main>
    <section>
        <h1>ATTENTION !</h1>

        <div class="div-text">
            <p>Vous n'avez pas enregistré toutes vos modifications.</p>
            <p>Que souhaitez vous faire ?</p>
        </div>

        <div class="div-button">
            <button type="button" (click)="onCliCkCancel()">Ne pas sauvegarder</button>
            <button type="button" (click)="onClickContinue()">Continuer les modifications</button>
            <button type="button" (click)="onClickSave()">Sauvegarder les modifications</button>
        </div>
    </section>
</main>
