@import "../../styles/mixins";

.main-plusDeDetails {
    @include flex-row-center-center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fae7e181;
    backdrop-filter: blur(10px);

    .moreDetails-container {
        @include flex-column-center-center;
        position: relative;
        width: 1600px;
        max-width: 95vw;
        box-shadow: 0 1px 0 2px var(--colorMid);
        min-height: 50vh;
        max-height: 100vh;
        background-color: #fafafa9e;
        backdrop-filter: blur(40px);
        gap: 64px;
        padding: 16px 64px;
        border-radius: 24px;
        overflow-y: auto;

        .flex-row {
            @include flex-row-between-center;
            position: relative;
            width: 1600px;
            max-width: 95vw;
            min-height: 50vh;
            gap: 64px;
            padding: 16px 64px;
            border-radius: 24px;
        }
        
        .info-container {
            max-width: 45%;
        }
   
            .img-close {
                position: absolute;
                top: 8px;
                right: 8px;
                width: 40px;
                height: auto;
                z-index: 10;
    
                &:hover {
                    cursor: pointer;
                    filter: hue-rotate(110deg);
                }
            }

        .localisation-container {
            @include flex-column-center-start;
            width: 600px;
            max-width: 45%;
            height: 100%;

            .address {
                @include flex-column-center-center;
                width: 100%;
                max-width: 40vw;
                background-color: var(--colorLight);
                border-radius: 24px;
                margin-bottom: 16px;
                border: 1px solid var(--colorMid);
            }

            iframe {
                display: block;
                width: 200%;
                max-width: 40vw;
                height: 450px;
                border-radius: 24px;
                border: 1px solid var(--colorMid);
            }
        }

        .paginator-container{
            max-width: 95vw;
            box-sizing: border-box;

            .feedback-container {
                width: 1000px;
                max-width: 90vw;
                padding: 16px;
                margin-bottom: 16px;
                box-sizing: border-box;
            }
        }
    }
}

@media screen and (max-width : 800px) {

    .main-plusDeDetails {    
        .moreDetails-container {
            display: block;
            width: 100%;
            height: 100vh;      
            // gap: 64px;
            padding: 8px;
            margin: 0;
            border-radius: 0;
            overflow-y: auto;
            box-sizing: border-box;     
            
            .flex-row {
                @include flex-column-start-start;
            width: 100%;      
            gap: 64px;
            padding: 0;
            border-radius: 0; 
            box-sizing: border-box;

                .info-container {
                    max-width: 100%;
                    box-sizing: border-box;
                }

                .localisation-container {
                    
                    width: 95vw;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
        
                    .address {
                        width: 90vw;
                        max-width: 90vw;
                        box-sizing: border-box;
                    }
    
                    iframe {
                        width: 90vw;
                        max-width: 90vw;
                        height: 400px;
                        box-sizing: border-box;
                    }
                    
                }
            }
            
            .paginator-container {
                margin-top: 24px;

                .feedback-container {
                    padding: 0;
                }
            }
    
            
    
        }
    }
    
}