<nav>
    <div class="navPage">
        <div class="section-menu" [class.highlighted]="isOnPageReservation" (click)="openMenuReservation()" (mouseleave)="closeMenuReservation()">
            <p>Gestion des réservations</p>
            @if(reservationCurrentPageText()){
                <p class="pSmall"><small>{{reservationCurrentPageText()}}</small></p>
            }
            @if(showMenuReservation){
                <ul>
                    <li>
                        <a [routerLink]="['/admin/acceptReservation']" (click)="setCurrentPageToReservationRequest()" [class.highlighted]="currentPage() === 'reservationRequest'"><p>Demandes de réservation</p></a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/addReservation']" (click)="setCurrentPageToReservationRegistoring()" [class.highlighted]="currentPage() === 'reservationRegistoring'"><p>Enregistrer une réservation</p></a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/editReservation']" (click)="setCurrentPageToReservationEdition()" [class.highlighted]="currentPage() === 'reservationEdition'"><p>Modifier une réservation</p></a>
                    </li>
                </ul>
            }
        </div>
        <a [routerLink]="['/admin/appartGestion']" (click)="setCurrentPageToGlobalGestion()" [class.highlighted]="currentPage() === 'globalGestion'"><p>Gestion des appartements</p></a>
        <a [routerLink]="['/admin/gestionUtilisateurs']" (click)="setCurrentPageToGestionUtilisateurs()" [class.highlighted]="currentPage() === 'gestionUtilisateurs'"><p>Gestion des utilisateurs</p></a>
        <a class="leaveAdmin" (click)="logout()"><p>Quitter le mode admin</p></a>
    </div>

    <img src="../../../../../assets/icons/icons-menu.png" 
    alt="menu-burger" 
    *ngIf="!showMenuBurger" 
    (click)="setShowMenuBurger()" 
    class="navBurger"
    >


    <div class="navBurger" *ngIf="showMenuBurger">
        <a [routerLink]="['/admin/acceptReservation']" (click)="setShowMenuBurger()"><p>Demandes de réservation</p></a>
        <a [routerLink]="['/admin/addReservation']" (click)="setShowMenuBurger()"><p>Enregistrement de réservations</p></a>
        <a [routerLink]="['/admin/appartGestion']" (click)="setShowMenuBurger()"><p>Gestion des appartements</p></a>
        <a [routerLink]="['/admin/gestionUtilisateurs']" (click)="setShowMenuBurger()"><p>Gestion des utilisateurs</p></a>
        <a [routerLink]="['/']" class="leaveAdmin" (click)="logout()"><p>Quitter le mode admin</p></a>
    </div>

    <img src="../../../../../assets/icons/icon-calendrier.png" 
    alt="open-calendar"
    [class.keepOnRight]="showMenuBurger"
    >

</nav>