@import "../../styles/mixins";

nav {
    @include flex-row-between-center;
    gap: 24px;
    padding: 0 24px 0 24px;
    background-color: var(--colorMid);
    width: 100vw;
    max-width: 1800px;
    height: 70px;
    margin: auto;
    margin-bottom: 16px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 2px 2px 2px 2px var(--colorDark);


    .navBurger {
        display: none;
    }

    .navPage {
        @include flex-row-start-center;
        gap: 24px;

        .section-menu {
            @include flex-column-center-center;
            position: relative;
            z-index: 3;
            height: 70px;
            padding: 8px;


            &:hover {
                cursor: pointer;
                background-color: var(--colorLight);
                border-radius: 35px;
            }

            .pSmall {
                @include flex-column-center-center;
                width: 100%;
                position: absolute;
                bottom: 4px;
                left: 0;

                small {
                    color: blue;
                }
            }

            p{
                margin: 0;
            }

            ul {
                position: absolute;
                top: 70px;
                left: 0;
                list-style-type: none;
                background-color: var(--colorMid);
                border-bottom-left-radius: 35px;
                border-bottom-right-radius: 35px;
                max-height: 0;
                animation: openFromTop 0.3s ease-out forwards;
                box-shadow: 2px 2px 2px 2px var(--colorDark);


                li{
                    a {
                        border-radius: 0;
                    }

                    &:last-child {
                        a {
                            border-bottom-left-radius: 35px;
                            border-bottom-right-radius: 35px;
                        }
                    }
                }
            }
        }

        a{
            @include flex-row-center-center;
            height: 70px;
            color: black;
            padding: 8px;
    
            &:hover {
                background-color: var(--colorLight);
                border-radius: 35px;
            }
    
            p{
                margin: 0 !important;
                padding: 0;
                text-align: center;
            }
        }

        a.leaveAdmin {
            color: rgb(200, 0, 0);
            cursor: pointer;

            &:hover {
                background-color: var(--colorDarkest);
                font-weight: bold;
                color: var(--colorLight);
            }
        }

        .highlighted {
            background-color: var(--colorLight);
            border-radius: 35px;
        }
    }

    img {
        height: 65px;
        width: auto;

        &:hover {
            cursor: pointer;
            filter: hue-rotate(110deg);
        }
    }
}

@keyframes openFromTop {
    from {
      max-height: 0;
      overflow: hidden;
    }
    to {
      max-height: 500px;
    }
  }

  @keyframes closeFromBottom {
    from {
      max-height: 500px;
      overflow: hidden;
    }
    to {
      max-height: 0;
    }
  }

@media screen and (max-width: 700px) {
    nav {
        position: relative;

        .keepOnRight {
            position: absolute;
            top: 5px;
            right: 24px;
        }

        .navPage {
            display: none;
        }

        img.navBurger {
            display: block;

        }

        div.navBurger {
            @include flex-column-center-center;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 70vw;
            height: 100vh;
            padding: 70px 16px;
            background-color: var(--colorMid);
            animation: fromLeft 0.3s ease;

            a {
                @include flex-row-center-center;
                text-decoration: none;
                color: black;
                width: 100%;
                height: 150px;
                text-align: center;

                p{
                    font-size: var(--mpFontSize) !important;
                }

                &:hover {
                    background-color: var(--colorLight);
                }
            }

            a.leaveAdmin {
                color: rgb(200, 0, 0);
    
                &:hover {
                    background-color: var(--colorDarkest);
                    font-weight: bold;
                    color: var(--colorLight);
                }
            }
        }
    }
}

@keyframes fromLeft {
    0% {
        transform: translateX(-70vw);
    }
    100% {
        transform: translateX(0);
    }
}