<article>
    <div class="container">
        <div class="feedback">
            <p class="chat-header">Le {{feedback().creationDate | date: "dd/MM/yyyy"}} </p>
            <p>{{feedback().comment}} </p>
        </div>
        @if(feedback().answer){
            <div class="answer">
                <p class="chat-header">Réponse - le {{feedback().answer!.creationDate | date: "dd/MM/yyyy"}} </p>
                <p>{{feedback().answer!.commentAnswer}} </p>
            </div>
        }
    </div>
</article>