<section>
    <h2>Ajouter des photos</h2>
    <button type="button">Ajouter</button>
</section>

<form [formGroup]="formPhoto">
    <ng-container formArrayName="photos">
        <ng-container *ngFor="let photoGroup of photoArray.controls; let i = index">
            <div [formGroupName]="i" class="container">
                <img [src]="photoGroup.get('imgUrl')?.value"> 
                <div class="actions">
                    <input formControlName="positionOrder" placeholder="Position Order">
                    
                    <div class="button-container">
                        <button type="button"><img src="../../../../../../assets/icons/icons-edit.png" alt="Modifier"></button>
                        <button type="button"><img src="../../../../../../assets/icons/icons-supprimer.png" alt="Supprimer"></button>
                    </div>
                </div>
                
            </div>
        </ng-container>
    </ng-container>
</form>