@import "../../styles/mixins";

main {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fae7e181;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    form {
        @include fieldset-style;
        width: 500px;
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        padding: 16px;
        min-height: 30dvh;

        div {
            @include flex-row-between-center;
            gap: 16px;
            width: 100%;

            input {
                width: 300px;
                max-width: 50vw;
                border-radius: 8px;
                padding: 8px;
            }

        }

        .div-checkMDP {
            @include flex-row-start-center;
            gap: 24px;

            label {
                margin-top: 20px;
            }
        }

        .div-button {
            justify-content: space-around;
            margin-top: 16px;

            button {
                width: 200px;
                max-width: 45%;
                background-color: var(--colorBrand);
                border: 3px outset var(--colorMid);
                font-weight: bold;
                padding: 8px;
                border-radius: 16px;
        
                &:hover {
                    cursor: pointer;
                    filter: sepia();
                }
        
                &:active {
                    border: 3px inset var(--colorMid);
                }
            }
        }

        .noAccount {
            @include linked;
            margin: auto;
            text-align: center;
        }
    }

}