@import "../../styles/mixins";

.main-chooseVoyager {
    @include fieldset-style;
    @include flex-column-center-center;
    width: 400px;
    max-width: 90vw;
    padding: 40px;
    border-radius: 50px;
    background-color: var(--colorLightest);

    section {
        @include flex-row-between-center;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid var(--colorMid);

        &.chooseVoyager-adult {
            padding-top: 0;
        }

        p {
            color: rgb(98, 98, 98);
                font-family: 700;
                font-size: 1rem;
                margin: 0;
        }

        .chooseVoyager-number {
            @include flex-row-around-center;
            max-width: 50%;
            gap: 30px;

            p {
                font-size: 1.2rem;
            }

            img {
                width: 40px;
                height: auto;
                border-radius: 50%;

                &:hover {
                    filter:hue-rotate(100deg);
                    cursor: pointer;
                }

                &.minusDisabled {
                    filter: grayscale(100%);
                    pointer-events: none;
                }
            }
        }
    }
    
}