@import "../../styles/mixins";

main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fae7e181;
    backdrop-filter: blur(10px);
    overflow-y: auto;


    section{
        @include flex-column-center-center;
        margin: auto;
        width: 600px;
        max-width: 95vw;
        min-height: 50vh;
        margin-top: 25vh;
        background-color: #fafafa9e;
        backdrop-filter: blur(40px);
        gap: 16px;
        border-radius: 24px;
        border: 1px solid var(--colorDark);
        padding: 16px;

        h2{
            text-align: center;
        }

        p, span {
            text-align: justify;
        }

        .ligne-info-container {
            @include flex-column-center-center;
            gap: 16px;
            width: auto;
            border: 1px solid var(--colorDark);
            background-color: var(--colorLightest);
            border-radius: 20px;
            padding: 16px;

            .flex-row-start {
                @include flex-row-start-center;
                gap: 16px;
                width: 100%;
    
                b {
                    display: block;
                    min-width: 100px;
                    font-weight: 500;
                }
    
                p {
                    margin: 0;
                }
            }
        }

        .button-container {
            @include flex-row-around-center-wrap;
            width: 100%;
            max-width: 400px;

            .button-mid {
                @include button-colorMid;
            }

            .button-red {
                @include button-colorRed;
            }
        }
    }
}