<main>
    <section class="choix-appart">

            <div class="appart-select" [class.hidden-element]="isInCreationAppartmentMode">
                <h2>Choisissez un appartement :</h2>
    
                <div (click)="isPhotoOrderUptateToSave ? showWarningNotificationForSavingPhotoOrder() : handleClickOnSelectAppartment()">
                    <mat-form-field [class.hidden-element]="isInCreationAppartmentMode">
                        <mat-label>Choisissez un appartement</mat-label>
                            <mat-select #matSelectAppartment [disabled]="isPhotoOrderUptateToSave" [value]="selectedAppartment()" (selectionChange)="handleChangeAppartment($event.value)" >
                            <mat-option *ngFor="let appartment of allAppartments()" [value]="appartment">
                           {{appartment.name}} 
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            
            <div class="add-delete-appart" [class.hidden-element]="isInCreationAppartmentMode">
                <button type="button" class="button-ajouter" (click)="passInCreationAppartmentMode()">Ajouter</button>
                <button type="button" class="button-delete" (click)="deleteAppartment()">Supprimer</button>
            </div>
        @if(isInCreationAppartmentMode) {
            <div class="div-cancel-appart-creation">
                <button type="button"  class="button-cancel" (click)="quitCreationAppartmentMode()">Annuler la création</button>
            </div>
        }
    </section>

    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Informations générales </mat-panel-title>
            </mat-expansion-panel-header>
            <section class="appart-gestion-container" style="min-width: 50vw;"> 
                @if(isAllDataCollected() && isInCreationAppartmentMode) {
                    <app-create-appartment
                    [owners]="owners()"
                    [discounts]="discounts()"
                    (appartEmitter)="createAppartment($event)"
                    ></app-create-appartment>
                }      
                @else if(isAllDataCollected() && selectedAppartment().id) {
                    
                    <app-update-appartment
                    [owners]="owners()"
                    [appartment]="selectedAppartment()"
                    [discounts]="discounts()"
                    [detectClickOnSelectAppartment]="detectClickOnSelectAppartment()"
                    (appartEmitter)="handleUpdateAppartment($event)"
                    (modificationEmitter)="handleGetAppartmentUpdatingStatus($event)"
                    (onClickSelectAppartmentEmitter)="handleUpdateAppartmentSaveRequest($event)"
                    ></app-update-appartment>
                }
            </section>
        </mat-expansion-panel>

        @if(selectedAppartment()) {

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Gestion des informations sur l'appartement </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                    <app-appartment-infos
                    [appartmentId]="selectedAppartment().id"
                    [initialInfos]="selectedAppartment().infos"
                    (updateEmitter)="updateSelectedAppartmentWhileChangingPhotoOrder($event)"
                    ></app-appartment-infos>
                </section>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Gestion des photos </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                    <app-update-appartment-photos
                    [photos]="selectedAppartment().photos"
                    [appartmentId]="selectedAppartment().id"
                    (updateOrderEmitter)="updateSelectedAppartmentWhileChangingPhotoOrder($event)"
                    (warningChangeOrderEmitter)="setWarningOnPhotoOrderToSave($event)"
                    ></app-update-appartment-photos>
                </section>
            </mat-expansion-panel>
            
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title> Gestion des informations voyageur </mat-panel-title>
                </mat-expansion-panel-header>
                <section class="appart-gestion-container">
                    <button (click)="goToTravelInfoEdition()">Gérer les infos voyageur</button>
                </section>
            </mat-expansion-panel>
        }


    </mat-accordion>

</main>

@if(showModalBewareDataNotSave) {
    <app-modal-change-appartment
    (cancelEmitter)="onClickDontSave()"
    (continueEmitter)="onClickContinue()"
    (saveEmitter)="onClickSave(currentUpdatedAppartmentFormData())"
    ></app-modal-change-appartment>
}
