@import '../../styles/mixins';

.main-appartment-card {
    @include flex-column-between-center;
    max-width: 90vw;
    width: 700px;
    height: auto;
    background-color: var(--colorLight);
    border-radius: 50px;
    box-shadow: 1px 1px 0 2px var(--colorMid);
    padding: 16px;

    h1 {
        text-align: center;
    }


    .caroussel {
        position: relative;
        width: 90%;
        object-fit: contain;
        overflow: hidden;


        .img-caroussel {
            max-width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: contain;
            border-radius: 32px;
        }


        .fleche-caroussel {
            position: absolute;
            top: calc(50% - 20px);
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                filter: hue-rotate(110deg);
            }
        }

        .fleche-gauche {
            left: 5%;
        }

        .fleche-droite {
                right: 5%;            
        }
    }

    .infoResa-container {
        @include flex-row-between-center;
        width: 90%;
        margin-top: 16px;

        p {
            margin-bottom: 4px;
        }

        .div-resa {
            @include flex-column-center-center;
            gap: 8px;

            .infoPrixSejour {
                padding: 8px;
                background-color: var(--colorLightest);
                border: 1px solid var(--colorMid);
                border-radius: 8px;
                font-weight: 550;
                color: darkred;
            }

            button {
                @include button-colorMid;
            }
        }
    }

    .otherInfo-container{
        @include flex-row-around-center;
        width: 90%;
        margin-top: 32px;
    
        button {
            width: 200px;
            max-width: 45%;
            @include button-colorBrand;
        }
    }
}


@media screen and (max-width:600px) {
    .main-appartment-card {   
        .infoResa-container {
            width: 90%;
            @include flex-column-start-start;
            gap: 16px;
      
            .div-resa {
                @include flex-column-center-center;
                width: 100%;
    
                button {
                    padding: 8px;
                }
            }
        }
    
        .otherInfo-container{
            margin-top: 16px;
        }
    }
}