@import "../../styles/mixins";

main {
    @include flex-column-around-center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #fae7e181;
    backdrop-filter: blur(10px);

    .img-close {
        position: absolute;
        top: 8px; 
        right: 8px;
        width: 40px;
        height: auto;

        &:hover {
            cursor: pointer;
            filter: hue-rotate(110deg);
        }
    }

    div {
        @include flex-column-center-center;
        gap: 8px;
        margin: 0;

        h2 {margin: 0;}

      &.reduce {
        transform: scale(0.85);
      }

        &.buttons {
            @include flex-row-around-center;
            width: 80vw;
            gap: 24px;

            button {
                width: 200px;
                max-width: 45%;
                background-color: var(--colorBrand);
                border: 3px outset var(--colorMid);
                font-weight: bold;
                padding: 8px;
                border-radius: 16px;
        
                &:hover {
                    cursor: pointer;
                    filter: sepia();
                }
        
                &:active {
                    border: 3px inset var(--colorMid);
                }
            }
        }
    }
}