/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
// @import 'angular-calendar/css/angular-calendar.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../src/app/styles/mixins";



:root {
--h1FontSize:3rem;
--h2FontSize:2rem;
--gpFontSize:1.5rem;
--mpFontSize:1.25rem;
--ppFontSize: 1.1rem;
--tppFontSize: 1rem;
--colorBrand: #FFC2BA;
--colorDarkest: #4D5460;
--colorDark: #8F8B90;
--colorMid: #C1D6D6;
--colorLight:#FAE7E1;
--colorLightTransparent:#fae7e14d;
--colorLightest: #FAFAFA;
--colorLightestTransparent: #fafafa85;
--colorRedText: rgb(150,0,0);
--colorSuccess: rgb(0,175,0);
--colorInfoText: rgb(50,75,230);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    scrollbar-width: none;
}

p, label, input, select, textarea, a, b {
    font-size: var(--ppFontSize) !important;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    white-space: pre-wrap;
}

span {
    font-size: var(--tppFontSize) !important;
    color: var(--colorRedText);
}

button {
    font-size: var(--mpFontSize) !important;
}

h1{
    font-size: var(--h2FontSize) !important;
}

h2 {
    font-size: var(--mpFontSize) !important;
}

.textGray {
    color: gray;
    font-weight: 600;
}

.textGreen {
    color: green;
    font-weight: 600;
}

.textOrange {
    color: rgb(229, 149, 0);
    font-weight: 600;
}

.flex-input {
    margin-bottom: 0;
    @include flex-row-between-center;
    gap: 16px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;

    &:focus-within {
        box-shadow: 0px 0px 1px 4px var(--colorBrand);
        background-color: #e0cdc881;
    }

    .label-error {
        @include flex-column-start-start;
        gap: 4px;
    }

    input, select {
        width: 100%;
        max-width: 300px;
        min-width: 150px;
        padding: 8px;
        border-radius: 8px;
        border: none;

        &:focus {
            outline: none;
        }
    }

    input[type="checkbox"] {
        width: 150px;
        max-width: 50%;
        zoom: 2;
      }
}

span.small-screen {
    display: none;
}

fieldset {
    border-radius: 24px;
    padding: 8px;
    background-color: var(--colorLight);
    box-shadow: 1px 1px 2px 2px var(--colorDark);
    border: none;
}



@media screen and (max-width:1000px) {


    :root {
        --h1FontSize:2.55rem;
        --h2FontSize:1.8rem;
        --gpFontSize:1.4rem;
        --mpFontSize:1.1rem;
        --ppFontSize: 1rem;
        --tppFontSize: 0.9rem;
        }
}

@media screen and (max-width:800px) {
:root {
    --h1FontSize:2.2rem;
    --h2FontSize:1.6rem;
    --gpFontSize:1.3rem;
    --buttonFontSize:1rem;
    --ppFontSize: 0.9rem;
    --tppFontSize: 0.85rem;

    }
}

@media screen and (max-width:600px) {
:root {
    --h1FontSize:1.9rem;
    --h2FontSize:1.4rem;
    --gpFontSize:1.2rem;
    --buttonFontSize:0.9rem;
    --ppFontSize: 0.85rem;
    --tppFontSize: 0.8rem;

    }
}

@media screen and (max-width: 500px) {
    .flex-input {
        @include flex-column-start-start;
        gap: 8px;
        margin-bottom: 0;

        span.large-screen {
            display: none;
        }

        span.small-screen {
            display: block;
        }

        input {
            width: 100%;
        }
    }
}

 