/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/app/styles/mixins";



:root {
--h1FontSize:3rem;
--h2FontSize:2rem;
--gpFontSize:1.5rem;
--mpFontSize:1.25rem;
--ppFontSize: 1.1rem;
--tppFontSize: 1rem;
--colorBrand: #FFC2BA;
--colorDarkest: #4D5460;
--colorDark: #8F8B90;
--colorMid: #C1D6D6;
--colorLight:#FAE7E1;
--colorLightest: #FAFAFA;
--colorRedText: rgb(150,0,0);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

p, label, input, select, textarea, a, b {
    font-size: var(--ppFontSize) !important;
    text-decoration: none;
}

span {
    font-size: var(--tppFontSize) !important;
    color: var(--colorRedText);
}

button {
    font-size: var(--mpFontSize) !important;
}

h1{
    font-size: var(--h2FontSize) !important;
}

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
    width: 800px !important;
    max-width: 90vw !important;
  }


  ::ng-deep .mat-mdc-snack-bar-container {
    
    &.success-snackbar {
      --mdc-snackbar-container-color: rgb(0, 175, 0);
      --mat-mdc-snack-bar-button-color: black;
      --mdc-snackbar-supporting-text-color: black;
    }
    &.error-snackbar {
        --mdc-snackbar-container-color: rgb(220, 0, 0);
        --mat-mdc-snack-bar-button-color: black;
        --mdc-snackbar-supporting-text-color: black;
      }
  }

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
    font-size: var(--mpFontSize) !important;
    width: 800px !important;
    max-width: 90vw !important;
}

::ng-deep .ng-touched {
    border: 2px solid var(--colorRedText) !important;
    outline-width: 2px;
}



@media screen and (max-width:1000px) {


    :root {
        --h1FontSize:2.55rem;
        --h2FontSize:1.8rem;
        --gpFontSize:1.4rem;
        --mpFontSize:1.1rem;
        --ppFontSize: 1rem;
        --tppFontSize: 0.9rem;
        }
}

@media screen and (max-width:800px) {
:root {
    --h1FontSize:2.2rem;
    --h2FontSize:1.6rem;
    --gpFontSize:1.3rem;
    --buttonFontSize:1rem;
    --ppFontSize: 0.9rem;
    --tppFontSize: 0.85rem;

    }
}

@media screen and (max-width:600px) {
:root {
    --h1FontSize:1.9rem;
    --h2FontSize:1.4rem;
    --gpFontSize:1.2rem;
    --buttonFontSize:0.9rem;
    --ppFontSize: 0.85rem;
    --tppFontSize: 0.8rem;

    }
}
