<main>
    <form [formGroup]="formResa" (ngSubmit)="saveReservation()">
        <h1>Enregistrement d'une réservation</h1>

        <fieldset>

            <app-reactive-select
            formControlName="appartmentId"
            [options]="ownerAppartments()" 
            [optionLabelParts]="['description']" 
            [optionValue]="'id'" 
            [error]="appartmentIdError"
            label="Logement" 
            placeholder="Choisissez un logement"
            ></app-reactive-select>


            <div class="flex-input">
                <p>Date d'arrivée : {{!showPickerarrival ? (formResa.get("checkinDate")?.value | date: 'dd/MM/yyyy') : null}} </p>
                <button type="button" *ngIf="!showPickerarrival" (click)="changeShowPickerarrival()" [disabled]="!selectedAppartment()" >Modifier</button>
                <app-date-picker *ngIf="showPickerarrival"
                [initDateValue]="formResa.getRawValue().checkinDate"
                [importedCheckoutDate]="formResa.getRawValue().checkoutDate"
                [importedReservations]="selectedAppartment()?.reservations!"
                [dateType]="'checkin'"
                (dateEmitter)="handleChangeCheckinOrCheckout($event)"
                (closeEmitter)="closeAllPicker()"
                ></app-date-picker>
            </div>
            @if(checkinDateError) {
                <span class="small-screen">{{checkinDateError}} </span>
            }

            <div class="flex-input">
                <p>Date de départ : {{!showPickerDeparture ? (formResa.get("checkoutDate")?.value | date: 'dd/MM/yyyy') : null}} </p>
                <button type="button" *ngIf="!showPickerDeparture" (click)="changeShowPickerDeparture()" [disabled]="!selectedAppartment()">Modifier</button>
                <app-date-picker *ngIf="showPickerDeparture"
                [initDateValue]="formResa.getRawValue().checkoutDate"
                [importedCheckinDate]="formResa.getRawValue().checkinDate"
                [importedReservations]="selectedAppartment()?.reservations!"
                [dateType]="'checkout'"
                (dateEmitter)="handleChangeCheckinOrCheckout($event)"
                (closeEmitter)="closeAllPicker()"
                ></app-date-picker>
            </div>
            @if(checkoutDateError) {
                <span class="small-screen">{{checkoutDateError}} </span>
            }


            <app-reactive-input [error]="nbAdultError" formControlName="nbAdult" label="Nombre d'adultes" type="number"></app-reactive-input>

            <app-reactive-input [error]="nbChildError" formControlName="nbChild" label="Nombre d'enfants" type="number"></app-reactive-input>

            <app-reactive-input [error]="nbBabyError" formControlName="nbBaby" label="Nombre de bébés (- 2 ans)" type="number"></app-reactive-input>

            <app-reactive-input [error]="reservationPriceError" formControlName="reservationPrice" label="Cout de la réservation" type="number"></app-reactive-input>

            <app-reactive-input type="checkbox" [error]="null" formControlName="accepted" label="Réservation acceptée"></app-reactive-input>


        </fieldset>
        
        <fieldset>
            <app-reactive-select
                formControlName="platform"
                [options]="platformOptions" 
                [optionLabelParts]="['platform']" 
                [optionValue]="'platform'" 
                [error]="appartmentIdError"
                label="Plateforme de réservation" 
                ></app-reactive-select>
    
            <app-reactive-input type="checkbox" [error]="null" formControlName="enterTravelerInfo" label="Entrer les informations voyageur"></app-reactive-input>
        </fieldset>

        @if(formResa.getRawValue().enterTravelerInfo){
            <fieldset>
                <app-reactive-input [error]="firstnameError" formControlName="firstname" label="Prénom" placeholder="Saisissez votre prénom"></app-reactive-input>
    
                <app-reactive-input [error]="lastnameError" formControlName="lastname" label="Nom" placeholder="Saisissez votre nom"></app-reactive-input>
    
                <app-reactive-input [error]="addressError" formControlName="address" label="Numéro et rue" placeholder="Saisissez votre adresse"></app-reactive-input>
    
                <app-reactive-input [error]="zipcodeError" formControlName="zipcode" label="Code postal" placeholder="Ex : 27 100"></app-reactive-input>
    
                <app-reactive-input [error]="cityError" formControlName="city" label="Ville" placeholder="Ex : Paris"></app-reactive-input>
    
                <app-reactive-input [error]="countryError" formControlName="country" label="Pays" placeholder="Ex : France"></app-reactive-input>
    
                <app-reactive-input [error]="emailError" formControlName="email" label="Email" placeholder="Ex : john.doe@gmail.com"></app-reactive-input>
    
                <app-reactive-input [error]="phoneError" formControlName="phone" label="Téléphone" placeholder="Ex : +33 6 75 75 75 75"></app-reactive-input>
            </fieldset>
        }

        <div class="div-button">
            <button type="button" (click)="resetForm()">Effacer</button>
            <button type="submit">Sauvegarder</button>
        </div>
    </form>
</main>